<a href="https://colab.research.google.com/github/AmerFernandez/introduccion-ingenieria-sistemas/blob/main/Trabajo_de_introduccion_a_ingenieria_en_sistemas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Ejercicio numero 4
edadjuan = 9
edadalberto = (2/3) * edadjuan
edadana = (4/3) * edadjuan
edadmama = edadjuan+edadalberto+edadana
print("Edad de Juan ", edadjuan)
print("Edad de Alberto ", edadalberto)
print("Edad de Ana", edadana)
print("Edad de Mama", edadmama)

Edad de Juan  9
Edad de Alberto  6.0
Edad de Ana 12.0
Edad de Mama 27.0

In [ ]:
# Ejercicio numero 5
SUMA = 0
X = 20
SUMA = SUMA+X
Y = 40
X = X+Y**2
SUMA = SUMA+X/Y
print("El valor de la suma es:", SUMA)

El valor de la suma es: 60.5

In [ ]:
# Ejercicio numero 12
nombre_empleado = input("Nombre del empleado: ")
horas_de_trabajo = float(input("Horas de trabajo: "))
salario_por_hora = 5000
print("Salario por hora: ", salario_por_hora)
salario_bruto = horas_de_trabajo*salario_por_hora
print("El salario bruto es: ", salario_bruto)
rentencion_fuente = salario_bruto*0.125
print("La rentencion de la fuente es: ", rentencion_fuente)
salario_neto = salario_bruto-rentencion_fuente
print("El salario neto es: ", salario_neto)

Nombre del empleado: 2
Horas de trabajo: 2
Salario por hora:  5000
El salario bruto es:  10000.0
La rentencion de la fuente es:  1250.0
El salario neto es:  8750.0

In [ ]:
# Ejercicio numero 14
ingrese_numero = float(input("Ingrese su número: "))
numero_cuadrado = ingrese_numero**2
print("Su número elevado al cuadrado es: ", numero_cuadrado)
numero_cubo = ingrese_numero**3
print("Su número elevado al cubo es: ", numero_cubo)

Ingrese su número: 2
Su número elevado al cuadrado es:  4.0
Su número elevado al cubo es:  8.0

In [ ]:
# Ejercicio numero 17
numero_radio = float(input("Ingrese el radio del circulo: "))
pi = 3.1416
area = pi * (numero_radio ** 2)
print("El area del circulo es: ", area)
longitud = 2 * pi * numero_radio
print("La longitud de la circunferencia es: ", longitud)

Ingrese el radio del circulo: 8
El area del circulo es:  201.0624
La longitud de la circunferencia es:  50.2656